body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #ffcc00, #f57c00);
    margin: 0;
    padding: 0;
    color: #333;
}

.creator {
    text-align: center;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.creator img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.creator p {
    font-size: 1.2em;
    margin: 0;
    padding: 0.5em 0;
}

header {
    background-color: #ffcc00;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1000;
}
header img {
    width: 50%;
    height: auto;
}

nav {
    background-color: #f57c00;
    display: flex;
    justify-content: center;
    padding: 0.5em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    transition: color 0.3s ease;
}
nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffcc00;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
nav a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}
nav a:hover {
    color: #ffcc00;
}

.container {
    max-width: 1200px;
    margin: 2em auto;
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section {
    background-color: rgba(255, 204, 0, 0.9);
    padding: 2em;
    margin-bottom: 2em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
.section h2 {
    text-align: center;
    color: #333;
    text-shadow: 1px 1px 2px #000;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}

.characters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
}
.character-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.character-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.character-info {
    text-align: center;
    padding: 20px;
}
.character-info h2 {
    color: #333;
    margin-bottom: 10px;
}
.character-info p {
    color: #666;
    margin: 5px 0;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
}
li:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
li img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    li {
        width: calc(50% - 1em);
    }
}
@media screen and (max-width: 480px) {
    li {
        width: 100%;
    }
}

.footer {
    text-align: center;
    padding: 1em 0;
    background-color: #f57c00;
    color: #fff;
    font-size: 0.8em;
    position: relative;
}

#searchBar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.hidden {
    display: none;
}

/* Flecha scroll */
.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #f57c00;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
    transition: background-color 0.3s, transform 0.3s;
}
.scroll-to-top:hover {
    background-color: #ff7700;
    transform: translateY(-5px);
}
